.page.page-list-meta
    .page-top-actions
        a.add-entity.btn.btn-red(href="#!meta/entity-add") 添加新实体

    .list
        - var groupNames = Object.keys(entityNamesByGroup).sort()
        each groupName in groupNames
            - var entityNames = entityNamesByGroup[groupName]
            .group
                .group-name(colspan=2)=groupName
                .items
                    each entityName in entityNames
                        - var entity = entityMetaMap[entityName]
                        .entity
                            a.entity-label(href="#!/meta/entity/" + entityName)=entity.label
                            a.entity-name(href="#!/meta/entity/" + entityName)=entityName
                            .entity-actions
                                a.to-list(href="#!/list/" + entityName) 列表页
                                a.remove-entity(href="javascript:", entityName=entityName) 删除
                            