@import "../../mixin"

.page.page-edit-meta
    ONE_WIDTH = 160px

    .section
        margin-bottom 16px

    .section-title
        font-size 15px
        hh(36px)
        color cRed
        border-bottom 1px solid cBorder
        margin-bottom 8px
    
    .entity-form
        font-size 13px

        .field
            display inline-block
            vertical-align top
            padding 0 8px 8px 0

            &.w1
                width ONE_WIDTH
            &.w2
                width (2 * ONE_WIDTH)
            &.w3
                width (3 * ONE_WIDTH)
            &.w4
                width (4 * ONE_WIDTH)
            &.wp100
                display block
                width auto

            >.label
                color cLabel
                hh(28px)
                textOverflow()

            input[type="text"]
            input[type="password"]
            input[type="number"]
            select
                box-sizing border-box
                width 100%

            .field-actions
                margin-bottom 6px
                
                .btn
                    font-size 12px
                    padding 0 8px
                    hh(24px)
                    box-shadow 0

            table
                table-layout fixed
                width 100%

                th, td
                    border-top 1px solid cTableBorder
                    border-bottom 1px solid cTableBorder
                    padding 1px 2px
                    text-align center
                
                th
                    color cLabel
                    font-weight 400
                    hh(24px)

                input[type="text"]
                input[type="password"]
                input[type="number"]
                select
                .btn
                    hh(24px)

                .btn
                    margin-right 4px
                    padding 0 8px
                    border 0

            
