.option
    .option-actions
        .move-handle.iconfont.icon-tuodong
        a.remove-option.iconfont.icon-close(href="javascript:")
    input.key(type="text", placeholder="键", value=key)
    input.value(type="text", placeholder="标签", value=value)
    