tr
    td
        a.remove-row.btn(href="javascript:") 删除
    td
        input(type="text", field="name")
    td
        input(type="text", field="fields")
    td
        input(type="checkbox", field="unique")
    td
        input(type="checkbox", field="sparse")
    td
        input(type="text", field="errorMessage")
