tr
    td
        a.remove-row.btn(href="javascript:") 删除
    td(field-name="name")
        input(type="text")
    td(field-name="fields")
        input(type="text")
    td(field-name="unique")
        input(type="checkbox")
    td(field-name="indexType")
        select
            - var options = [{name: "BTREE", label: "BTREE"}, {name: "HASH", label: "HASH"}, {name: "RTREE", label: "RTREE"}]
            each o in options
                option(value=o.name)=o.label
    td(field-name="errorMessage")
        input(type="text")
