@import "../../mixin"
    
.page-parent>.page.page-edit-entity
    actionsHeight = 60px

    box-sizing border-box
    height 100%
    overflow hidden

    .entity-edit-form.mc-form
        box-sizing border-box
        height 100%
        overflow auto
        padding-bottom actionsHeight

    .page-actions
        absolute(auto, 0, 0, 0)
        z-index 10
        background #fff
        text-align center
        hh(actionsHeight)
        border-top 1px solid cBorder

        .btn
            hh(36px)
            width 250px
            font-size 14px

    .field >.label-area >.label
        font-weight 500
        font-size 14px

    .multiple-input.for-wide .multiple-input-item
        display block
        width 100%
        margin-right 0

        .field-input-parent
            width auto

    .multiple-input.for-fit .multiple-input-item
        width auto

        .field-input-parent
            width auto

    .check-list
        label
            display inline-block
            margin 0 16px 8px 0

            input, span
                vertical-align middle
            
            input
                margin-right 4px
        