@import "../../mixin"

.page.page-edit-entity
    .multiple-input
        .multiple-input-item
            removeBtnWidth = 24px
            moveHandleWidth = 24px

            display inline-block
            vertical-align top
            width fieldWidthOne
            padding 0 fieldItemSpace fieldItemSpace 0

            .field-input-parent
                display inline-block
                width (fieldWidthOne - removeBtnWidth - moveHandleWidth)
                vertical-align middle

            .remove-m-input-item, .move-handle
                display inline-block
                vertical-align top
                hh(inputHeight)
                width removeBtnWidth
                text-align center
                text-decoration none
                color cBlue

            .move-handle
                width moveHandleWidth
                
                &:hover
                    cursor move
                    color cGreen

            .remove-m-input-item
                width removeBtnWidth
