.entity-criteria-item
    a.remove-item.plain-btn.iconfont.icon-close-c(href="javascript:")
    .field-name-col
        select.field-name
            each field in fieldNames
                option(value=field, selected=field===(item && item.field))=entityMeta.fields[field].label
    .operator-col
        select.operator
    .criteria-value-col

