@import "../../mixin"

.dialog-overlay.select-entity-dialog
    .selected-list
        border 1px solid cInputBorder
        padding 16px
        border-radius 4px
        margin-bottom 32px

        .multiple-input-item
            display inline-block
            border 1px solid cInputBorder
            padding 0 4px
            border-radius 4px
            width auto
            margin 4px 8px

            .field-input-parent
                width auto

            .entity-digest
                margin 0

