@import "../mixin"

.main-menu-bar
    padding 12px 8px
    overflow auto

    .menu-group
        border-bottom 1px solid borderColor

    .menu-item
        display block
        hh(36px)
        font-size 13px
    
    .menu-group-title
        text-align right
        hh(36px)
