@import "../mixin"

.main-menu-bar
    box-sizing border-box
    padding 12px 0
    overflow auto
    border-right 1px solid cBorder

    .menu-group
        border-bottom 1px solid borderColor

    .menu-item
        display block
        hh(36px)
        font-size 13px
        color cBlue
        text-decoration none
        padding 0 12px
        textOverflow()
        &:hover
            background cBlue
            color #fff
    
    .menu-group-title
        text-align right
        hh(36px)
        padding 0 16px
        font-size 14px
        color cRed
