.entity-digest
    h = 30px

    display inline-block
    vertical-align top
    margin 0 8px 8px 0

    .img-parent
        display inline-block
        vertical-align middle
        width 30px
        height h
        overflow hidden
        margin-right 4px

        img
            width 100%

    .digest
        display inline-block
        vertical-align middle
        font-size 12px
        line-height h

.loading-ref
    display inline-block
    vertical-align middle
