include ../../mixin

tbody
    each item in page
        tr(id=item._id)
            if forSelect
                td.align-center
                    a.select-entity.btn(href="javascript:") 选择
            else
                td.align-center
                    input.check-row(type="checkbox")
                td.align-center
                    a.edit-entity.btn.iconfont.icon-edit(href="/#!edit/#{entityName}/#{item._id}")
            each fn in listFieldNames
                - var fieldMeta = entityMeta.fields[fn]
                - var fieldValue = item[fn]
                td(style=JC.getColumnStyle(fieldMeta))
                    // 多值字段不显示
                    // 富文本不显示
                    if fieldMeta.multiple 
                        | ...
                    else
                        +DisplayFieldItem(fieldMeta, fieldValue)
