@import "../../mixin"

.entity-lister
    .paging-parent
        *
            display inline-block
            vertical-align middle
            margin 0 4px 8px 0
            font-size 12px

        .fast-search
            width 150px
            margin-right 24px

        .page-no, .page-size
            width 60px
            text-align center

        .more-filter
            margin-left 12px
            margin-right 12px

        .prev-page
            margin-left 16px
        .next-page
            margin-right 12px

    .list-parent
        padding-bottom 8px
        max-height 600px
        // overflow auto

        table
            font-size 12px

            .btn
                font-size 12px    

    .criteria-parent
        margin 8px 0
        
    .entity-digest
        margin 0
        
        .digest
            line-height 1em
        
