@import "../../mixin"

.page.page-list-entity
    .list-page-actions
        text-align right
        padding-bottom 16px

        .add-entity
            padding 0 36px
            text-align center
            hh(36px)
