.page.page-list-entity
    .list-page-actions
        a.add-entity.btn.btn-red(href="/#!add/"+entityName) 新建 #{label}
        .float-right
            a.remove-entities.btn.btn-red(href="javascript:") 批量删除

