.view.list-entity
    .actions
        if JC.hasEntityPermission('Create', entityName)
            a.to-add-entity.btn(href="javascript:", entityName=entityName) 新增
            .btn-separator
        if JC.hasEntityPermission('Remove', entityName)
            a.remove-entities.btn(href="javascript:", entityName=entityName) 删除
