normalBgColor = #abd2ec // #d7ecfa
successBgColor = #97edb7 // #e1faea
warningBgColor = #f1deb5 //#fff3d9
errorBgColor = #E74835 // #f7e4e1

.toast-box
    position fixed
    top 32px
    right 5%
    margin 0 auto
    z-index 1000
    display inline-block
    width 300px
    padding 10px
    overflow auto
    font-size 14px

.toast
    padding 16px 16px
    margin-bottom 4px
    color #000
    box-shadow 0 0 6px #aaa

.toast-normal
    background normalBgColor

.toast-success
    background successBgColor

.toast-warning
    background warningBgColor

.toast-error
    background errorBgColor
