include ../../mixin

.dialog-overlay.edit-component-dialog
    .dialog
        .dialog-header
            span 编辑 #{fieldLabel}
            a.dialog-expand.iconfont.icon-expand(href="javascript:")
            a.dialog-close-btn.iconfont.icon-close(href="javascript:")
        .dialog-content
        .dialog-footer
            a.finish.btn(href="javascript:") 确定
