@import "./mixin"

a
    color cBlue

.hidden
    display none

.align-left
    text-align left

.align-center
    text-align center

.btn
    box-sizing border-box
    display inline-block
    hh(btnHeight)
    text-decoration none
    padding 0 12px
    vertical-align middle
    font-size btnFontSize
    border-radius 4px
    border 1px solid cBlue + 50%
    background cBlue0
    color cBlue

    &:hover
        background cBlue + 80%

.btn.btn-red
    border 1px solid cBorderRed
    background cRed + 95%
    color cRed

    &:hover
        background cRed + 80%

.plain-btn
    display inline-block
    hh(btnHeight)
    padding 0 8px
    text-decoration none
    font-size btnFontSize

    &:hover
        text-decoration underline

.btn-separator
    display inline-block
    margin 0 8px
    height 8px
    width 8px
    border-radius 4px
    background cInputBorder
    vertical-align middle

input[type="text"]
input[type="password"]
input[type="number"]
select
.date-picker
    box-sizing border-box
    display inline-block
    vertical-align middle
    hh(inputHeight)
    border 1px solid cInputBorder
    border-radius 4px
    padding 0 4px
    font-size inputFontSize

input[type="checkbox"]
input[type="radio"]
    display inline-block
    hh(inputHeight)
    vertical-align middle

textarea
    display block
    box-sizing border-box
    vertical-align top
    line-height 1.5em
    border 1px solid cInputBorder
    border-radius 4px
    padding 4px
    font-size inputFontSize
    height 6em

.rich-text-preview
    display block
    box-sizing border-box
    border 1px solid cInputBorder
    border-radius 4px
    font-size inputFontSize

    .rich-text-preview-acitons
        hh(28px)
        border-bottom 1px solid cInputBorder
        padding 0 8px

    .preview-area
        padding 12px 8px
        min-height 48px
        max-height 200px
        overflow auto

.file-input
    box-sizing border-box
    display inline-block
    vertical-align top
    hh(inputHeight)
    border 1px solid cInputBorder
    border-radius 4px
    font-size inputFontSize
    color cBlue

    .info, .download, .upload
        display inline-block
        vertical-align top
        text-decoration none
        line-height (inputHeight - 2px)

    .download, .upload
        width 30px
        text-align center

    .info, .download
        border-right 1px solid cInputBorder

    .info
        padding 0 12px

.image-input
    position relative
    box-sizing border-box
    display inline-block
    vertical-align top
    font-size inputFontSize
    min-height 60px
    min-width 40px
    max-width 200px

    .preview
        display block
        max-width 100%

    .upload
        absolute(0, 0, auto, 0)
        background rgba(#fff, .7)
        hh(24px)
        text-align center
        color cBlue
        text-decoration none

.date-picker
    btnWidth = 30px

    position relative
    padding 0 0
    line-height normal

    input
        hh(inputHeight - 2px)
        border none
        width 100%
        box-sizing border-box
        padding-right (2px + btnWidth)

    .open-calendar
        absolute(0, 0, 0, auto)
        z-index 1
        display block
        vertical-align middle
        width btnWidth
        text-align center
        font-size 14px
        border-left 1px solid cInputBorder
        text-decoration none
        line-height (inputHeight - 2px)

.ref-item
    display inline-block
    vertical-align top

.entity-digest
    display inline-block
    vertical-align middle

.loading-ref
    display inline-block
    vertical-align middle

table
    border-top 1px solid cTableBorder

    &.for-input
        th, td
            padding 1px 2px
            text-align center
    &.fix-100
        table-layout fixed
        width 100%
    &.fix
        table-layout fixed

    // tbody tr:nth-child(odd)
    //     background cTableBorder

    tr:hover
        background cTableBorder

    tr.current
        background cTableBorder

    th, td
        text-align left
        padding 4px 8px
        border-top 1px solid cTableBorder
        border-bottom 1px solid cTableBorder
        textOverflow()
        color cTableText

    th
        color cLabel
        hh(24px)

    input[type="text"]
    input[type="password"]
    input[type="number"]
    select
    .btn
        hh(24px)

    .btn
        margin-right 4px
        padding 0 8px
        border 0

    img.resource
        max-height 48px

.mc-form
    font-size 13px

    .field
        display inline-block
        vertical-align top
        padding 0 fieldItemSpace fieldItemSpace 0

        &.w1
            width fieldWidthOne
        &.w2
            width (2 * fieldWidthOne)
        &.w3
            width (3 * fieldWidthOne)
        &.w4
            width (4 * fieldWidthOne)
        &.wp100
            display block
            width auto
            margin-bottom 32px

        >.label-area
            h = 30px
            fontSize = 13px
            .label
                display inline-block
                color cLabel
                hh(h)
                vertical-align middle
                font-size fontSize

            .label-actions
                display inline-block
                vertical-align middle
                margin-left 12px
                font-size fontSize
                border-radius 4px
                overflow hidden
                
                a.btn
                    hh(h)
                    border none
                    border-radius 0

        input[type="text"]
        input[type="password"]
        input[type="number"]
        select
        .date-picker
        textarea
            box-sizing border-box
            width 100%

        .field-actions
            margin-bottom 6px
            
            .btn
                font-size 12px
                padding 0 8px
                hh(24px)
                box-shadow none

        .tip
            padding 6px 0px 0px 4px
            font-size 12px
            color cWeakText
                
    .section
        margin-bottom 16px

    .section-title
        font-size 15px
        hh(36px)
        color cRed
        border-bottom 1px solid cBorder
        margin-bottom 8px    

.multiple-input-item
    removeBtnWidth = 24px
    moveHandleWidth = 24px

    position relative
    display inline-block
    vertical-align top
    width fieldWidthOne
    padding-bottom fieldItemSpace // 项之间的距离
    margin-right fieldItemSpace

    .field-input-parent
        display block
        width (fieldWidthOne - removeBtnWidth - moveHandleWidth)
        margin 0 removeBtnWidth 0 moveHandleWidth
        
    .remove-m-input-item, .move-handle
        position absolute
        z-index 10
        display block
        top 0
        hh(inputHeight)
        text-align center
        text-decoration none
        color cBlue

    .move-handle
        width moveHandleWidth
        left 0
        
        &:hover
            cursor move
            color cGreen

    .remove-m-input-item
        width removeBtnWidth
        right  0

