@import "./mixin"

a
    color cBlue

.btn
    box-sizing border-box
    display inline-block
    hh(inputHeight)
    text-decoration none
    padding 0 12px
    vertical-align middle
    font-size inputFontSize
    border-radius 6px
    border 1px solid cBlue
    color cBlue
    

.plain-btn
    display inline-block
    margin 0 8px 8px 0
    text-decoration none

    &:hover
        text-decoration underline

.btn-separator
    display inline-block
    margin 0 8px
    height 8px
    width 8px
    border-radius 4px
    background cInputBorder
    vertical-align middle

input[type="text"]
input[type="password"]
input[type="number"]
select
    box-sizing border-box
    display inline-block
    hh(inputHeight)
    border 1px solid cInputBorder
    padding 0 4px
    vertical-align middle
    font-size inputFontSize
    border-radius 6px

table.simple
    th, td
        padding 8px
        border 1px solid #cdcdcd
