@import "./mixin"

html, body
    height 100%

.main-header
    headerBtnWidth = 48px

    fixed(0, 0, auto, 0)
    hh(siteHeaderHeight)
    border-bottom 1px solid borderColor
    background #fff
    z-index 100

    .main-menu-btn, .main-settings
        absolute(0, auto, 0, auto)
        display block
        text-align center
        width headerBtnWidth
        text-decoration none

    .main-menu-btn
        left 0
        border-right 1px solid borderColor

    .main-settings
        right 0
        border-left 1px solid borderColor

    .pages-switches
        absolute(0, headerBtnWidth, 0, headerBtnWidth)
        z-index 50

    .page-switch
        display inline-block
        box-sizing border-box
        hh(siteHeaderHeight)
        padding 0 8px
        font-size 13px
        vertical-align top
        border-bottom 3px solid transparent
        text-decoration none
        color #000

        .close-page
            width 8px
            text-align center
            margin-left 8px
            &:hover
                text-align 16px
        
        &.current 
            border-bottom 3px solid mainColor
            color mainColor

.main-body
    menuBarLeft = 180px

    position relative
    box-sizing border-box
    height 100%
    padding-top siteHeaderHeight

    .main-menu-bar
        absolute(siteHeaderHeight, auto, 0, 0)
        box-sizing border-box
        width menuBarLeft
        border-right 1px solid borderColor
    
    .pages
        absolute(siteHeaderHeight, 0, 0, menuBarLeft)

    .page-parent
        height 100%
        overflow auto

        .view
            padding 16px

    

