doctype
html
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title FCMS UI
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0")

        link(rel="stylesheet", href="lib/normalize.css")
        link(rel="stylesheet", href="//at.alicdn.com/t/font_241125_7vu8xmih8p7am7vi.css")
        link(rel="stylesheet", href="app.css")

    body
        .main-menu-bar-parent
            .user-area.btn.btn-red
                .iconfont.icon-user
                .site-username
                a.exit-site.iconfont.icon-logout(href="javascript:")
                
            .main-menu-bar
        .main-header
            a.main-menu-btn.iconfont.icon-menu2(href="javascript:")
            .pages-switches
        .pages

        .toast-box

        script(src="lib/modernizr-2.8.3.min.js")
        script(src="lib/runtime.min.js")
        script(src="lib/ckeditor/ckeditor.js")
        script(src="vendor.js")
        script(src="template.js")
        script(src="app.js")
