siteHeaderHeight = 48px
menuBarLeft = 160px

dialogHeaderHeight = 48px
dialogFooterHeight = 48px
dialogZ = 500

cBlue = #5087a5
cBlue2 = #93c0d9
cBlue0 = cBlue + 95%
cGreen = #88a263
cYellow  = #f4a838
cRed = #c94737

cBorder = #eee
cBorderRed = cRed + 50%
cTableBorder = #f2f2f2
cInputBorder = #d8d8d8

hoverMovableBg = #eee

cText = #333
cWeakText = #666
cLabel = #444
cTableText = cText

btnHeight = 30px
btnHeightSmall = 22px
inputHeight = 30px
tableInputHeight = 28px
btnFontSize = 13px
inputFontSize = 12px

fieldWidthOne = 180px
fieldItemSpace = 8px

hh(height)
    height height
    line-height height

fixed(top = 0, right = 0, bottom = 0, left = 0)
    position fixed
    top top
    left left
    bottom bottom
    right right

absolute(top = 0, right = 0, bottom = 0, left = 0)
    position absolute
    top top
    left left
    bottom bottom
    right right

textOverflow()
    text-overflow ellipsis
    word-break break-all
    white-space nowrap
    overflow hidden

breakText()
    word-break break-all
    white-space nowrap
